.container .text {
  vertical-align: middle;
  text-align: center;
  line-height: 170px;
  font-family: 'Architects Daughter', cursive;

}

.container .col-8 img {
  background-image: url(../img/sunset.jpg);
  background-repeat: no-repeat;
  background-size:

}
